<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trip Expenses</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <!-- Navbar -->
    <nav class="bg-blue-600 overflow-hidden ">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class=" flex justify-between items-center h-16">
                <!-- Left Section: Logo -->
                <div class="flex items-center">
                    <img src="/static/airplane.png" alt="Airplane Icon" class="h-8 mr-3">
                    <span class="text-white text-lg font-bold"><a href="/">Travel Expense Tracker</a></span>
                </div>
                <!-- Right Section: Menu -->
                <div class="hidden sm:flex space-x-6">
                    <a href="/"
                        class="text-white hover:text-yellow-300 px-3 py-2 rounded-md text-sm font-medium">Home</a>
                    <a href="/"
                        class="text-white hover:text-yellow-300 px-3 py-2 rounded-md text-sm font-medium">Contact Us</a>
                    <a href="#"
                        class="text-white hover:text-yellow-300 px-3 py-2 rounded-md text-sm font-medium">Privacy
                        Policy</a>
                    <a href="{{ url_for('logout') }}"
                        class="text-white hover:text-yellow-300 px-3 py-2 rounded-md text-sm font-medium">Log Out</a>
                </div>
                <!-- Mobile Menu Button -->
                <div class="sm:hidden flex items-center">
                    <button id="mobile-menu-button"
                        class="p-2 rounded-md text-white hover:text-gray-200 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-yellow-300">
                        <span class="sr-only">Open main menu</span>
                        <!-- Menu Icon -->
                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <!-- Mobile Menu -->
        <div id="mobile-menu" class="sm:hidden hidden">
            <div class="px-4 pt-4 pb-4 space-y-2 bg-blue-700">
                <a href="/"
                    class="block text-white hover:text-yellow-300 px-3 py-2 rounded-md text-base font-medium">Home</a>
                <a href="/"
                    class="block text-white hover:text-yellow-300 px-3 py-2 rounded-md text-base font-medium">Contact
                    Us</a>
                <a href="#"
                    class="block text-white hover:text-yellow-300 px-3 py-2 rounded-md text-base font-medium">Privacy
                    Policy</a>
                <a href="{{ url_for('logout') }}"
                    class="block text-white hover:text-yellow-300 px-3 py-2 rounded-md text-base font-medium">Log
                    Out</a>
            </div>
        </div>
    </nav>
    <h1 class="text-center font-bold text-2xl mb-6 mt-6">Expenses for Trip: {{ trip_name }}</h1>


    <!-- Expense Table -->
    <div class="table-auto container-fluid mx-10">
        <table id="data-table" class="min-w-full bg-white border border-gray-800">
            <thead>
                <tr class="bg-gray-200">
                    <th class="text-left px-4 py-2 border-b border-gray-900">SNo</th>
                    <th class="text-left px-4 py-2 border-b border-gray-900">Category</th>
                    <th class="text-left px-4 py-2 border-b border-gray-900">Total Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr class="hover:bg-gray-100">
                    <td class="px-4 py-2 border-b border-gray-300">1</td>
                    <td class="px-4 py-2 border-b border-gray-300">General Cost</td>
                    <td id="general_cost" class="px-4 py-2 border-b border-gray-300"> {{ cost.general_amount }}</td>
                </tr>
                <tr class="hover:bg-gray-100">
                    <td class="px-4 py-2 border-b border-gray-300">2</td>
                    <td class="px-4 py-2 border-b border-gray-300">Food Cost</td>
                    <td id="food_cost" class="px-4 py-2 border-b border-gray-300">{{ cost.food_amount }}</td>
                </tr>
                <tr class="hover:bg-gray-100">
                    <td class="px-4 py-2 border-b border-gray-300">3</td>
                    <td class="px-4 py-2 border-b border-gray-300">Travel Cost</td>
                    <td id="travel_cost" class="px-4 py-2 border-b border-gray-300">{{ cost.travel_amount }}</td>
                </tr>
                <tr class="hover:bg-gray-100">
                    <td class="px-4 py-2 border-b border-gray-900">4</td>
                    <td class="px-4 py-2 border-b border-gray-900">Night Stay Cost</td>
                    <td id="night_stay_cost" class="px-4 py-2 border-b border-gray-900">{{ cost.night_stay_amount }}
                    </td>
                </tr>
                <tr class="hover:bg-gray-100">
                    <td class="px-4 py-2 border-b border-gray-900"></td>
                    <td class="px-4 py-2 border-b border-gray-900"></td>
                    <td class="px-4 py-2 border-t border-gray-300">{{ cost.total_amount }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container">
        <div class="flex justify-start mx-10">
            <a href="{{ url_for('addexpense', trip_id=trip_id) }}"
                class="bg-blue-600  mx-2  my-4 border-2 border-black px-4 py-2 text-white font-bold rounded-xl text-center">Add
                Expenses</a>
            <a href="{{ url_for('trip_details', trip_id=trip_id) }}"
                class="bg-green-600  mx-2 my-4 border-2 border-black px-4 py-2 text-white font-bold rounded-xl text-center">Show
                Detailed Expenses</a>
        </div>
    </div>


        <!-- Pie Chart -->
         <div class="container">
        <div class="container  my-10 flex justify-center" style="height: 300px;">
            <canvas id="expensePieChart"></canvas>
        </div>
    </div>

    <script>
        // Extract data from the table
        var generalCost = parseFloat(document.getElementById('general_cost').textContent) || 0;
        var foodCost = parseFloat(document.getElementById('food_cost').textContent) || 0;
        var travelCost = parseFloat(document.getElementById('travel_cost').textContent) || 0;
        var nightStayCost = parseFloat(document.getElementById('night_stay_cost').textContent) || 0;

        // Set up the data for the pie chart
        var data = {
            labels: ['General Cost', 'Food Cost', 'Travel Cost', 'Night Stay Cost'],
            datasets: [{
                data: [generalCost, foodCost, travelCost, nightStayCost],
                backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0'],
                hoverBackgroundColor: ['#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0']
            }]
        };

        // Configure the pie chart
        var config = {
            type: 'pie',
            data: data,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    tooltip: {
                        callbacks: {
                            label: function (tooltipItem) {
                                return tooltipItem.label + ':  ₹' + tooltipItem.raw.toFixed(2);
                            }
                        }
                    }
                }
            }
        };

        // Create the pie chart
        var ctx = document.getElementById('expensePieChart').getContext('2d');
        new Chart(ctx, config);


        // Tab navigation
        document.addEventListener('DOMContentLoaded', () => {
            const menuButton = document.getElementById('mobile-menu-button');
            const mobileMenu = document.getElementById('mobile-menu');

            menuButton.addEventListener('click', () => {
                // Toggle the hidden class on the mobile menu
                mobileMenu.classList.toggle('hidden');
            });
        });
    </script>
</body>

</html>